<div>
    {{#if isLoading}}
        Loading...
    {{else}}
        {{ data.first_name }} {{ data.second_name }}<br />
        {{ data.login }}<br />
        {{ data.email }}<br />
        {{ data.phone }}<br />
        {{{ button }}}
    {{/if}}
</div>
